body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;

	--background-primary: black;
	/* --background-primary-alt: ; */
	--background-secondary: black;
	--background-secondary-alt: yellow;

	
	/* --titlebar-background: rgb(60, 8, 29); */
	--titlebar-background: rgb(159, 73, 47);
	/* --titlebar-background-focused: rgba(51, 18, 9, 1); */
	--titlebar-background-focused: rgb(154, 40, 5);

	--accent-h:39;
	--accent-s:85%;
	--accent-l:63%;

	/*ribbon*/
	--ribbon-background:  rgb(82, 29, 15);
	--ribbon-background-collapsed: rgba(51, 18, 9, 1);
	--icon-color: rgb(248, 162, 138);
	

	--nav-collapse-icon-color: rgb(241, 184, 80);
	--code-radius: var(--radius-xl);
	--code-background: rgba(241, 184, 80, .1);
	--code-normal: #ffffff;
	--file-header-justify: left;

	--font-monospace-theme: "Courier New";

	--vault-profile-color: var(--tab-text-color-focused-active-current);
	--vault-profile-color-hover: orange;

	--divider-color: rgb(241, 184, 80);
	
	--metadata-border-radius: 10px; 

	/* --button-radius: 10px;
	--checkbox-radius: 10px;
	--modal-radius: 10px; */
	
	/* tab text color variables:
		--tab-text-color: when obsidian is not the active window, this applies to all non-current tabs 
			--tab-text-color-focused: same as above but when obsidian is the in-focus window

		--tab-text-color-active: applies to tab of file that you are actively editing
			--tab-text-color-focused-active-current: same as above but when obsidian is the in-focus window
			--tab-text-color-focused-active: applies color to the X (close) icon of the tab actively editing, even when not in focus
	*/
	--tab-text-color: rgb(206, 206, 206);
	--tab-text-color-focused-active-current: rgb(241, 184, 80);
	/* --tab-radius-active: ; */
}

.checkbox-container{
	border-radius: 10px;
}

.checkbox-container::after{
	border-radius: 10px;
	
}

.HyperMD-codeblock{
	writing-mode: horizontal-tb;
	font-family: 'Courier New', Courier, monospace;
}

.workspace-tab-header.tappable{
	border-radius: 10px 10px 0px 0px;
	/* border: 1px aqua solid; */
}


/* .markdown-rendered pre{
	writing-mode: vertical-lr; */
	/* text-orientation: upright;
	text-align:center;
} */

.mod-settings{
	border-radius: 3% 3% 3% 0%;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}