body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;

	--background-primary: #000000;
	/*ribbon*/
	--ribbon-background: #edcf5e;
	--ribbon-background-collapsed: #edcf5e;
	--nav-collapse-icon-color: green;
	--nav-collapse-icon-color-collapsed: white;
	/* --icon-color: var(--color-base-08); */
	/* --icon-color-focused: white; */
	--code-radius: var(--radius-xl);
	--tab-radius: var(--radius-xl);
	--tab-radius-active: var(--radius-xl);
	/* --text-normal: #edcf5e; */
	--text-muted: lightblue;
	--text-selection: #edcf5e;
	/* --font-interface-theme: sans-serif; */
	/* --divider-color: transparent; */
	--code-background: #edcf5e;
	--code-normal: #000000;
	--file-header-justify: left;
	--font-monospace-theme: "Times New Roman";
	/* --file-	 */
	
	/* tab text color variables:
		--tab-text-color: when obsidian is not the active window, this applies to all non-current tabs 
			--tab-text-color-focused: same as above but when obsidian is the in-focus window

		--tab-text-color-active: applies to tab of file that you are actively editing
			--tab-text-color-focused-active-current: same as above but when obsidian is the in-focus window
			--tab-text-color-focused-active: applies color to the X (close) icon of the tab actively editing, even when not in focus
	*/
	/*--tab-text-color: #FC5A21;*/
}

.HyperMD-codeblock{
	writing-mode: horizontal-tb;
}

.markdown-rendered pre{
	writing-mode: vertical-lr;
	text-orientation: upright;
	text-align:center;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
